* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root {
    --color-black-light: #333436;
    /* changed */
    --color-black: #000;
    --color-white: #fff;
    --color-red: #ED1B24;
    /* changed */
    --color-dark-red: #b50d14;
    /*added*/
    --color-red-line: #EB2127;
    /*added*/
    --color-grey-light: #BBBBBC;
    --color-grey-light-1: #6E7376;
    --color-contact-form: #6A757E;
    --color-contact-form-1: #E3E3E3;


    --container-width-xl: 1600px;
    /* min 1600px */
    --container-width-lg: 1400px;
    /* min 1400px */
    --container-width-md: 1140px;
    /* min 1200px */
    --container-width-sm: 950px;
    /* min 992px */
    --container-width-xs: 720px;
    /* min 768px */
    --container-width-xxs: 540px;
    /* min 576px */

    --o-transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    background: var(--color-black);
}

.container-fluid {
    width: var(--container-width-xl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    color: var(--color-white);
}

h2 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
    font-style: italic;
    color: var(--color-white);
}

h3 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: var(--color-white);
}

h5 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
    color: var(--color-white);
}

h6 {
    text-align: left;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0.25rem !important;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-white);
    margin-top: 30px;
    margin-bottom: 30px;
}

.p1 {
    font-size: 14px;
    line-height: 23px;
    color: var(--color-white);
    margin-bottom: 22px;
}

ul,
a,
ol,
nav a .btn {
    font-size: 14.5px;
    font-weight: 400;
    line-height: 14px;
    color: var(--color-white);
}


.btn {
    background: var(--color-red);
    border-radius: 0px;
    border: none;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: var(--color-white);
}

.btn:hover {
    background: var(--color-dark-red);
    color: var(--color-white);
}

#fp-nav ul li,
.fp-slidesNav ul li {
    margin: 11px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    margin: 11px 0px 11px 0px;
    height: 15px;
    width: 15px;
    background-color: var(--color-white);
    opacity: 0.4;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    margin: 11px 0px 11px 0px;
    height: 15px;
    width: 15px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    margin: 11px 0px 11px 0px;
    height: 15px;
    width: 15px;
    opacity: 1;
}

#fullpage section {
    padding-top: auto;
    padding-bottom: auto;
}

/* ************* NAVBAR ********************* */

nav {
    background: transparent;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    /*  transition: background .3s;
    control how smooth the background changes */
}

nav ul {
    height: 89px;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 49px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav_menu a {
    text-decoration: none;
}

.nav_menu a:hover {
    color: var(--color-dark-red);
}

nav a .btn {
    height: 36px;
    padding: 7px 26px;
}

.uil-bars {
    color: var(--color-white);
}

div#fp-nav a span {
    background: #fff !important;
    height: 15px;
}

.offcanvas {
    width: 0px;
}

.active_nav-item {
    font-weight: 700;
}

/* ************* HOME PAGE ********** */
.arrow-down {
    bottom: 40px;
    display: block;
    left: 50%;
    margin-left: -16px;
    position: absolute;
}

.left-side {
    max-width: 50%;
}

.right-side {
    max-width: 50%;
}

.intro {
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url('/nacto-images/natco-home-scaled');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.intro .btn {
    margin-top: 30px;
}

.intro h1 {
    line-height: 70x;
}

.support {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/natco-home-fine_food.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.believe {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/natco-home-one_on_one-scaled.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.innovation {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/innovating-scaled.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.tour {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/tour-scaled.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.chief {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/chief-scaled.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.support p,
.believe p,
.innovation p,
.tour p,
.chief p {
    max-width: 636.6px;
}


h2 span {
    color: var(--color-red);
}

.horizontal-line {
    margin-top: 21px;
    width: 60px;
    height: 4px;
    background-color: var(--color-red-line);
}

/* ******* FOOTER ******** */
#fp-nav li:nth-child(7) {
    display: none;
}

.footer {
    border-top: 5px solid var(--color-red);
    padding: 0;
}


.map {
    -webkit-filter: grayscale(100%);
}

.footer-contact-form {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #000;
}

.form {
    display: flex;
    float: left;
    height: fit-content;
    padding-bottom: 40px;
    border-bottom: 2px solid var(--color-black-light);
}

.form-left {
    margin-top: 120px;
    text-align: center;
}

.form-right {
    padding-top: auto;
    padding-bottom: auto;
    width: fit-content;
    margin-top: 86px;
}

.form-right-2 {
    margin-left: 15px;
    margin-right: 15px;
    width: 0%;
    visibility: hidden;
}

.contact-form {
    margin-top: -160px;
    z-index: 0;
    background-color: var(--color-white);
    width: 590px;
    height: 498px;
    padding-top: 31.5px;
    padding-left: 30.5px;
    padding-right: 30.5px;
    margin-left: 35px;
    margin-right: 35px;
}

.contact-form h3 {
    margin-bottom: 40px;
}

.captcha {
    flex-direction: row;
    margin-top: 30px;
}

.captcha button {
    margin-top: auto;
    margin-bottom: auto;
}

.g-recaptcha {
    width: 302px;
    height: 76px;
}

input,
textarea {
    width: 100%;
    padding-top: 10px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8.5px;
    color: var(--color-contact-form);
    border-bottom: 1px solid var(--color-contact-form-1);
}

input {
    padding-bottom: 10px;
}

textarea {
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 120px;
}

.footer-menu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    height: 66px;
}

.footer-menu p {
    color: var(--color-grey-light);
    font-size: 14px;
    line-height: 12px;
}

.footer-nav li {

    height: 14px;
    border-right: 1px solid var(--color-grey-light);
}

.footer-nav li:nth-child(4) {
    border-right: none;
}

.footer-nav a {
    color: var(--color-grey-light);
    line-height: 14px;
    font-size: 14px;
    padding-left: auto;
    padding-right: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    justify-content: center;
    text-align: left;

}

.fp-viewing-footer #menu {
    visibility: hidden;
}

.fp-viewing-footer #fp-nav {
    visibility: hidden;
}

@media screen and (max-width:1599px) {
    .container-fluid {
        max-width: var(--container-width-lg);
    }

    h1 {
        line-height: 70px;
    }
}

@media screen and (max-width:1399px) {
    .container-fluid {
        max-width: var(--container-width-md);
    }
}

@media screen and (max-width:1199px) {
    .container-fluid {
        max-width: var(--container-width-sm);
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    h4 {
        font-size: 22px;
    }

    .nav_menu {
        gap: 30px;
    }

    .captcha {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .captcha button {
        margin-top: 10px;
    }
}

@media screen and (max-width:991px) {
    .container-fluid {
        width: var(--container-width-xs);
    }

    h1 {
        font-size: 45px;
        line-height: 45px;
    }

    h4 {
        font-size: 20px;
        line-height: 20px;
        margin-top: 15px;
    }

    p {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: var(--color-white);
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* *********** NAVBAR *********** */

    .logo {
        width: auto;
        height: 35px;
    }

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-primary);
        cursor: pointer;
    }

    .navbar-toggler:focus {
        border-color: transparent;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
        color: transparent;
        border: 1px solid transparent;
        border-color: transparent;
    }

    .nav-closed {
        display: none;
        width: 0px;
        visibility: hidden;
    }

    .nav-canvas {
        display: flex;
        flex-direction: column;
    }

    .nav_menu-canvas {
        padding: 0;
        text-align: center;
        top: 0px;
        background: var(--color-white);
        opacity: 1 !important;
        height: fit-content;
        justify-content: center;
        height: auto;
        gap: 0;
    }

    .nav_menu-canvas li {
        width: 200px;
        height: 67px;
        opacity: 1;
        border-bottom: 1px solid var(--color-grey-light);
    }

    .offcanvas {
        padding-left: 30px;
        padding-right: 20px;
        width: 250px;
    }

    .offcanvas-body .btn-close {
        font-size: 20px;
    }

    .nav_menu-canvas li a {
        display: flex;
        height: fit-content;
        align-self: center;
        padding-top: 30px;
        padding-left: 10px;
        color: var(--color-black);
        font-size: 18px;
        line-height: 14px;
        text-decoration: none;
    }

    .nav_menu-canvas li a:hover {
        background: var(--color-bg2);
        color: var(--color-dark-red);
    }

    /* HOME PAGE */

    .support {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/natco-home-fine_food.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }

    .believe {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/natco-home-one_on_one-scaled.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }

    .innovation {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/innovating-scaled.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }

    .tour {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/tour-scaled.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }

    .chief {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/chief-scaled.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }

    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        height: 10px;
        width: 10px;
    }

    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
        height: 10px;
        width: 10px;
    }

    #fp-nav ul li a.active span,
    .fp-slidesNav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li:hover a.active span {
        height: 10px;
        width: 10px;
    }

    .arrow-down {
        bottom: 30px;
        width: 30px;
        height: 17.45px;
    }

    .support .right-side {
        position: absolute;
        margin-left: -30px;
        vertical-align: bottom;
        max-height: 100vh;
        bottom: 100px;
        max-width: 85%;
        width: var(--container-width-xs);
    }

    .believe .left-side {
        position: absolute;
        margin-left: -30px;
        vertical-align: bottom;
        max-height: 100vh;
        bottom: 100px;
        max-width: 85%;
        width: var(--container-width-xs);
    }

    .innovation .right-side {
        position: absolute;
        margin-left: -30px;
        vertical-align: bottom;
        bottom: 100px;
        max-width: 85%;
        width: var(--container-width-xs);
    }

    .tour .left-side {
        position: absolute;
        margin-left: -30px;
        vertical-align: bottom;
        bottom: 100px;
        max-width: 85%;
        width: var(--container-width-xs);
    }

    .chief .right-side {
        position: absolute;
        margin-left: -30px;
        vertical-align: bottom;
        bottom: 100px;
        max-width: 85%;
        width: var(--container-width-xs);
    }

    .intro h1 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro h4 {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .support .left-side,
    .believe .right-side,
    .innovation .left-side,
    .tour .right-side,
    .chief .left-side {
        width: 0%;
    }

    /* ******** FOOTER ******* */
    .form {
        flex-direction: column;
        align-items: center;
        width: 82%;
    }

    .form-left {
        height: 0px;
        display: none;
        visibility: hidden;
    }

    .form-right {
        margin-top: 50px;
    }

    .form-right-2 {
        margin-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
        width: 82%;
        visibility: visible;
    }

    .footer-contact-form {
        margin-top: -7px;
    }

    .contact-form {
        width: 82%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-menu {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .footer-menu p {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-menu a {
        font-size: 12px;
        padding-bottom: 20px;
    }

    .footer-nav {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-left: 0px;
    }

    .footer-menu ul {
        margin: 0;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .g-recaptcha {
        display: none;
        visibility: hidden;
    }

    .captcha button {
        margin-top: 30px;
    }
}

@media screen and (max-width:767px) {
    .container-fluid {
        width: var(--container-width-xxs);
    }

    .contact-form {
        width: 100%;
    }

    .form-right-2 {
        width: 100%;
        visibility: visible;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h4 {
        font-size: 17px;
    }

    h5 {
        font-size: 42px;
    }

    .support .right-side,
    .believe .left-side,
    .innovation .right-side,
    .tour .left-side,
    .chief .right-side {
        max-width: 85%;
        width: var(--container-width-xxs);
    }
}

@media (max-width: 576px) {
    nav .container-fluid {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .container-fluid {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 30px;
        line-height: 36px;
    }

    h2 {
        font-size: 18px;
        line-height: 24px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 30px;
    }

    /* ***** HOME PAGE ***** */
    .believe .left-side,
    .innovation .right-side,
    .tour .left-side,
    .chief .right-side {
        max-width: 85%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .believe {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/one_on_one-scaled_edited.jpg');
        background-size: cover;
        height: 100vh;
        background-position: right;
        /* Center the image within the element */
    }

    .tour {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/natco-home-tour_small_edited.jpg');
        background-size: cover;
        height: 100vh;
        background-position: right;
        /* Center the image within the element */
    }

    .chief {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url('/nacto-images/chief-scaled_edited.jpg');
        background-size: cover;
        height: 100vh;
        background-position: left;
        /* Center the image within the element */
    }

    .support .right-side {
        max-width: 85%;
        margin-left: -15px;
        margin-right: 15px;
    }

    .intro h1 {
        max-width: 300px;
    }

    .intro h4 {
        max-width: 250px;
    }
}

@media (max-height: 500px) {

    .support .right-side,
    .believe .left-side,
    .innovation .right-side,
    .tour .left-side,
    .chief .right-side {
        top: 90px;
    }
}

@media (max-height: 610px) {
    @media (max-width: 380px) {

        .support .right-side,
        .believe .left-side,
        .innovation .right-side,
        .tour .left-side,
        .chief .right-side {
            top: 90px;
        }
    }
}

@media (min-height: 610px) {
    @media (max-width: 330px) {

        .support .right-side,
        .believe .left-side,
        .innovation .right-side,
        .tour .left-side,
        .chief .right-side {
            top: 90px;
        }
    }
}

@media (max-height: 610px) and (min-height:500px) {
    @media (min-width: 380px) and (max-width:460px) {

        .support .right-side,
        .believe .left-side,
        .innovation .right-side,
        .tour .left-side,
        .chief .right-side {
            top: 90px;
        }
    }
}


/* ********** PAGE ABOUT US *********** */
.nav_home {
    height: 100px;
}

.nav_about {
    padding: 0;
    z-index: 100;
    width: 100%;
    background: var(--color-black);
    opacity: 0.6;
    margin: 0;
    height: 100px;
}

nav .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.about-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('/nacto-images/about-us-scaled.jpg');
    width: 100vw;
    height: 597px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}

/* ************ OUR STORY ********* */

.our_story {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0px;
}

.our_story-cover .cover-1 {
    left: 0;
    right: auto;
}

.our_story-cover .cover-2 {
    left: auto;
    right: 0;
}

.cover-1 {
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('/nacto-images/about-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100px;
    bottom: 0px;
    height: 641px;
    width: 47.5%;
}

.cover-2 {
    z-index: -1;
    background: url('/nacto-images/about-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 280px;
    bottom: 0px;
    height: 641px;
    width: 47.5%;
}

.our_story>.container-fluid {
    height: 641px;
    position: relative;
    z-index: 2;
}

.our_story p,
.our_facility p {
    margin-bottom: 0px;
}

/* ****************** OUR TEAM *********** */
.our_team {
    margin-top: 150px;
    height: auto;
    margin-bottom: 200px;
}

.our_team h5,
.our_team p,
.our_team .horizontal-line {
    margin-left: auto;
    margin-right: auto;
    max-width: 882px;
    text-align: center;
}

.team_members {
    padding-top: 30px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 24px;
}


.member_card {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    background: var(--color-white);
    width: 284px;
    height: 391px;
}


.member_photo {
    height: 284px;
}

.member_information {
    padding-top: 20px;
    padding-left: 26px;
    background: var(--color-white);
}

.member_information .p1 {
    margin-top: 0px;
    text-align: left;
    line-height: 15px;
    font-weight: 400;
    color: var(--color-grey-light-1);
}

/* ******* MODALS ********** */

.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    max-width: 848px;
    max-height: 391px;
}

.modal-dialog-centered {
    min-height: calc(100% - 0rem);
}

.modal-content {
    border: none;
    border-radius: 0px;
}

.modal-body {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.modal-left {
    height: 391px;
    width: 284px;
}

.modal-right {
    display: flex;
    flex: content;
    flex-direction: row;
    padding-left: 26px;
}

.close-button-div {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.modal-right img {
    border-top: none;
    background: var(--color-white);
    height: 23px;
    width: 23px;
}

.modal-biography {
    margin-top: 47px;
}

.modal-biography .p1 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
    color: var(--color-grey-light-1);
    margin-top: 0px;
    margin-bottom: 20px;
}

.modal-biography p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    max-width: 482px;
    color: var(--color-black);
}

@media (min-width:991px) {

    .our_story p,
    .our_facility p {
        line-height: 22px;
    }
}


.story-text {
    max-width: 524px;
    margin-top: auto;
    margin-bottom: auto;
}

/* *********** OUR FACILITY ************ */
.our_facility {
    margin-top: 0px;
    position: relative;
    min-height: 751px;
}

.our_facility-cover .facility_cover {
    left: 0;
    right: auto;
}

.facility_cover {
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.75) 100%, rgba(0, 0, 0, 0.75) 100%), url('/nacto-images/stock-photo-meat-industry-meats-hanging-in-the-cold-store-1285101004_edited.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 200px;
    bottom: 0px;
    height: 751px;
    width: 65%;
}

.our_facility>.container-fluid {
    gap: 70px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    height: 751px;
    position: relative;
}

.facility-left {
    width: 47.5%;
    margin-top: auto;
    margin-bottom: auto;
}

.facility-left img {
    width: 100%;
    max-width: 750px;
    height: auto;
}

.facility-right {
    display: flex;
    width: 47.5%;
}

.our_facility-text {
    height: fit-content;
    max-width: 524px;
    margin-top: auto;
    margin-bottom: auto;
}

/* *********** OUR TEAM ********** */

@media (max-width:1399px) {
    .about-us {
        height: 520px;
    }

    /* ************ OUR STORY ********* */
    .cover-1 {
        height: 520px;
    }

    .cover-2 {
        height: 520px;
    }

    .our_story>.container-fluid {
        height: 520px;
        position: relative;
        z-index: 2;
    }

    .story-text {
        max-width: 450px;
    }

    /* ************ OUR STORY ********* */
    .facility_cover {
        top: 200px;
        height: 651px;
    }

    .our_facility>.container-fluid {
        height: 651px;
    }

    /* *********** OUR TEAM ******** */
    .member_card {
        width: 227px !important;
        height: 312px !important;
    }


    .member_photo {
        height: 227px !important;
    }

    h6 {
        font-size: 16px;
        line-height: 18px;
    }

    .member-biography h6 {
        font-size: 20px;
        line-height: 22px;
    }

    .member_information .p1 {
        font-size: 11px;
        text-align: left;
        line-height: 12px;
    }
}

@media (min-width:991px) and (max-width:1199px) {
    .member_information {
        padding-left: 15px;
    }

    .member_information .p1 {
        font-size: 14px;
        text-align: left;
        line-height: 15px;
    }
}

@media (max-width:1199px) {
    .about-us {
        height: 520px;
    }

    /* ************ OUR STORY ********* */
    .story-text {
        max-width: 400px;
    }

    .member_card {
        width: 200px !important;
        height: 275px !important;
    }


    .member_photo {
        height: 200px !important;
    }

}

@media (max-width:991px) {
    .nav_home {
        height: 89px;
    }

    .nav_about {
        height: 89px;
    }

    .about-us {
        padding-top: 89px;
        height: 450px;
    }

    /* ************ OUR STORY ********* */
    .our_story {
        padding-top: 50px;
        min-height: 750px;
    }

    .story-text {
        margin-top: 25px;
    }

    .cover-1 {
        top: 50px;
        bottom: 50px;
        height: 300px;
        width: 90%;
    }

    .cover-2 {
        top: 400px;
        bottom: 0px;
        height: 300px;
        width: 80%;
    }

    .our_story>.container-fluid {
        height: 300px;
    }

    .story-text {
        max-width: 600px;
    }

    /* ********* OUR FACILITY *********** */
    .facility_cover {
        margin-top: 100px;
        padding-top: 100px;
        height: auto;
        width: 100%;
    }

    .facility-left {
        margin-top: 20px;
        margin-bottom: 50px;
        height: auto;
        width: 100%;
    }

    .facility-right {
        height: auto;
        width: 100%;
    }

    .our_facility {
        margin-top: -250px;
    }

    .our_facility>.container-fluid {
        height: auto;
        margin-top: 330px;
        gap: 0px;
        flex-direction: column-reverse;
    }

    .our_facility-text {
        max-width: none !important;
    }

    /* ********** OUR TEAM ************ */
    .our_team {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .our_team h5,
    .our_team p,
    .our_team .horizontal-line {
        margin-left: 0;
        margin-right: auto;
        text-align: left;
    }

    .team_members {
        grid-template-columns: repeat(2, 1fr);
    }

    .member_card {
        width: 284px !important;
        height: 391px !important;
    }


    .member_photo {
        height: 284px !important;
    }

    h6 {
        font-size: 20px;
        line-height: 22px;
    }

    .more_information .p1,
    .modal-biography .p1 {
        font-size: 14px;
        line-height: 15px;
    }


    .modal-dialog {
        max-width: 500px;
        height: 100vh;
    }

    .modal-left {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 284px;
        height: 284px;
    }

    .modal-body {
        flex-direction: column;
    }
}

@media (max-width:767px) {
    .nav_home {
        height: 79px;
    }

    .nav_about {
        height: 79px;
    }

    .about-us {
        padding-top: 79px;
        height: 380px;
    }

    /* ************ OUR STORY ********* */
    .cover-2 {
        top: 400px;
    }

    .story-text {
        max-width: 450px;
    }

    /* ************ OUR TEAM ******** */
    .member_card {
        width: 227px !important;
        height: 312px !important;
    }


    .member_photo {
        height: 227px !important;
    }

    h6 {
        font-size: 16px;
        line-height: 18px;
    }

    .member_information .p1,
    .modal-biography .p1 {
        font-size: 11px;
        line-height: 12px;
    }

    .modal-biography p {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: var(--color-black);
    }

    .modal-left {
        width: 227px;
        height: 227px;
    }

}

@media (max-width:576px) {
    .nav_home {
        height: 69px;
    }

    .nav_about {
        height: 69px;
    }

    .about-us {
        padding-top: 69px;
        height: 300px;
    }

    /* ************ OUR STORY ********* */
    .cover-1 {
        height: 300px;
    }

    .cover-2 {
        top: 400px;
        height: 180px;
    }

    .story-text {
        margin-left: 15px;
        margin-right: 40px;
        max-width: 450px;
    }

    /* ************ OUR FACILITY ********* */
    .our_facility {
        top: -150px;
    }

    .our_facility>.container-fluid {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* ********** OUR TEAM ******* */
    .our_team {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -50px;
    }

    .team_members {
        grid-template-columns: repeat(1, 1fr);
    }

    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:500px) {

    /* ************ OUR STORY ********* */
    .cover-1 {
        height: 350px;
    }

    .our_story>.container-fluid {
        height: 350px;
    }

    .cover-2 {
        top: 450px;
        height: 180px;
    }

    .our_facility {
        top: -100px;
    }

    .our_team {
        margin-top: 0px;
    }

    .modal-dialog {
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media (max-width:400px) {

    /* ************ OUR STORY ********* */
    .cover-1 {
        height: 450px;
    }

    .our_story>.container-fluid {
        height: 450px;
    }

    .cover-2 {
        top: 550px;
    }

    .story-text {
        overflow-x: hidden;
        height: 450px;
    }

    .our_facility {
        top: 0px;
    }

    .our_team {
        margin-top: 100px;
    }

}

/* ************* PAGE SERVICES ************* */
.services {
    background-image: linear-gradient(0deg, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url('/nacto-images/services-page.png');
    width: 100vw;
    height: 597px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}

.restaurants {
    display: flex;
    min-height: 561px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.retail {
    display: flex;
    min-height: 561px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 100px;
}

.restaurants-cover {
    z-index: -1;
    background: url('/nacto-images/services-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    bottom: 0px;
    height: 561px;
    width: 47.5%;
    position: absolute;
}

.retail-cover {
    z-index: -1;
    background: url('/nacto-images/retail.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    bottom: 0px;
    height: 561px;
    width: 47.5%;
    position: absolute;
}

.restaurants>.container-fluid,
.retail>.container-fluid {
    place-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
    z-index: 2;
}

.services-left {
    width: 47.5%;
    margin-top: auto;
    margin-bottom: auto;
}

.services-right {
    display: flex;
    width: 47.5%;
}

.our_facility-text {
    height: fit-content;
    max-width: 524px;
    margin-top: auto;
    margin-bottom: auto;
}

.institutions {
    margin-top: 200px;
    height: auto;
    place-items: center;
    height: auto;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.institutions>.container-fluid {
    gap: 10%;
}

.institutions-left {
    width: fit-content;
}

.institutions-right {
    max-height: 561px;
    background: url('/nacto-images/institutions.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 57%;
}

.institutions-right .sub-image {
    background: url('/nacto-images/services-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 56%;
    height: 56%;
    position: absolute;
    bottom: -30px;
    left: -30px;
}

. @media (max-width:1399px) {
    .services {
        height: 520px;
    }
}

@media (max-width:991px) {
    .services {
        padding-top: 89px;
        height: 450px;
    }

    .restaurants {
        margin-top: 80px;
    }

    .retail {
        margin-top: 80px;
    }

    .restaurants-cover {
        background: url('/nacto-images/services-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        top: 0px;
        height: 300px;
        width: 90%;
    }

    .retail-cover {
        background: url('/nacto-images/retail.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        top: 0px;
        height: 300px;
        width: 90%;
    }

    .restaurants>.container-fluid,
    .retail>.container-fluid {
        gap: 50px;
        flex-direction: column;
        top: 0px;
    }

    .services-left {
        width: 100%;
        height: 300px;
    }

    .services-right {
        width: 100%;
        height: auto;
    }

    .institutions {
        margin-top: 80px;
    }

    .institutions>.container-fluid {
        gap: 80px;
        flex-direction: column-reverse;
    }

    .institutions-right {
        background: url('/nacto-images/institutions.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-right: 0px;
        margin-left: auto;
        width: 80%;
        height: 300px;
    }


    .institutions-right .sub-image {
        background: url('/nacto-images/services-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width:767px) {
    .services {
        padding-top: 79px;
        height: 380px;
    }
}

@media (max-width:576px) {
    .services {
        padding-top: 69px;
        height: 300px;
    }

    .restaurants-cover {
        background: url('/nacto-images/services-1.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 180px;
    }

    .retail-cover {
        background: url('/nacto-images/retail.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 180px;
    }

    .services-left {
        margin-top: 0;
        margin-bottom: 0;
        height: 180px;
    }

    .restaurants>.container-fluid,
    .retail>.container-fluid {
        margin-left: 15px;
        margin-right: 15px;
    }

    .institutions-right {
        background: url('/nacto-images/institutions.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 0px;
        margin-left: auto;
        height: 180px;
    }

    .institutions>.container-fluid .institutions-left {
        margin-left: 15px;
        margin-right: 15px;
    }
}